@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

main .container {
    width: 90%;
}

/*------------------FRAME 1----------------------*/

main .section1 {
    background-color: var(--charcoal);
}

main .section1 .content {
    display: flex;
    align-items: center;
    width: 50%;
}

main .section1 .left-content {
    display: blosk;
}

main .section1 .left-content h2 {
    color: #fff;
    font-family: "Cormorant Infant", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 6.5rem;   
    line-height: 1.1;
}

main .section1 .left-content p {
    color: #fff;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    margin-top: 5%;
}

main .section1 .b-left-cont {
    width: 230px;
    height: 73px;
    justify-content: center;
    font-size: 1.2rem;
    margin-top: 5%;
    color: var(--light-gold);
}

main .section1 .right-content {
    justify-content: end;
    align-items: end;
}

main .section1 .img-borders {
    display: flex;
    position: relative;
    margin-left: 10%;
}

main .section1 .img-borders img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

main .section1 .img-borders .rotate {
    width: 60%;
    height: 60%;
    object-fit: cover;
    position: absolute;
    left: -10%;
    top: -10%;
    z-index: 0;
}

main .section1 .img-borders .rotate {
    animation: spin 12s linear infinite;
}

/*------------------FRAME 2----------------------*/

main .section2 {
    background-color: var(--light-pink);
    color: var(--content-color);
    padding: 5% 0 8% 0;
}

main .section2 h2 {
    color: #000;
    font-family: "Cormorant Infant", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.1;
}

main .section2 p {
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 5%;
}

main .section2 .content {
    margin-left: 5%;
}

/*------------------FRAME 3----------------------*/

main .section3 {
    background-color: var(--light-pink);
    color: var(--content-color);
    padding-bottom: 6%;
}

main .section3 .container{
    align-items: normal;
    justify-content: start;
}

main .section3 .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: inherit;
}

main .section3 p {
    font-weight: 400;
}

main .section3 h2 {
    color: #333;
    font-family: "Cormorant Infant", serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    font-size: 2rem;
    margin-bottom: 3%;
}


main .section3 .signature {
    padding-bottom: 5%;
}

main .section3 .content {
    max-width: 600px;
}

main .section3 .years h3 {
    font-family: "Cormorant Infant", serif;    
    color: #333;
    font-size: 2rem;
    margin-bottom: 6%;
}

main .section3 .signature h3 {
    margin-bottom: 10%;
}
